.tabs {
  background-color: blue;
  border: 5px solid darkblue;
  border-radius: 5px;
  color: white;
  width: 50%;
  margin-top: 40px;
  height: 350px;
}
.tab-titles{
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-left: 0px;
  border-bottom: 5px solid darkblue;
  padding-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 5px solid darkblue;
  border-right: 5px solid darkblue;
}
/* .tab-titles li {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-left: 5px solid darkblue;
  border-right: 5px solid darkblue;
} */
/* .tab-content {
  display: flex;
  background-color: darkblue;
}
.white {
  background-color: white;
} */
